USE [DocManag]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 24/02/2021 20:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24/02/2021 20:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Externals] [bit] NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24/02/2021 20:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24/02/2021 20:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24/02/2021 20:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 24/02/2021 20:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Id_Person] [bigint] NULL,
	[Password_Change_Date] [datetime] NULL,
	[External] [bit] NOT NULL,
	[Id_State] [bigint] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_Department] [bigint] NOT NULL,
	[Code] [varchar](5) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Id_State] [bigint] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varbinary](300) NOT NULL,
	[NIT] [varchar](50) NOT NULL,
	[Check_Digit] [varchar](1) NOT NULL,
	[CEO] [varchar](300) NULL,
	[CellPhone] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Registration_Date] [datetime] NOT NULL,
	[Id_City] [bigint] NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Id_State] [bigint] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consecutive_Config]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consecutive_Config](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](2) NOT NULL,
	[Consecutive] [bigint] NOT NULL,
 CONSTRAINT [PK_Consecutive_Config] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Code] [varchar](2) NOT NULL,
	[Id_State] [bigint] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Size] [bigint] NOT NULL,
	[Pages] [int] NOT NULL,
	[Contents] [varbinary](max) NOT NULL,
	[Id_Doc_Type] [bigint] NOT NULL,
	[Id_User] [nvarchar](450) NOT NULL,
	[Hash] [varchar](450) NOT NULL,
	[Registration_Date] [datetime] NOT NULL,
	[Id_State] [bigint] NOT NULL,
	[Rejection_Observation] [varchar](150) NULL,
	[Consecutive] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Code] [varchar](4) NOT NULL,
 CONSTRAINT [PK_DocumentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdentificationType]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentificationType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Code] [varchar](4) NOT NULL,
 CONSTRAINT [PK_IdentificationType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Area] [varchar](50) NULL,
	[Controller] [varchar](50) NULL,
	[Actions] [varchar](50) NULL,
	[Icons] [varchar](50) NULL,
	[OrderMenu] [int] NULL,
	[IdFather] [bigint] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Second_Name] [varchar](100) NULL,
	[Surname] [varchar](100) NOT NULL,
	[Second_Surname] [varchar](100) NULL,
	[Id_Identification_Type] [bigint] NOT NULL,
	[Identification] [varchar](20) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Cellphone] [varchar](50) NOT NULL,
	[Registration_Date] [datetime] NOT NULL,
	[Id_City] [bigint] NOT NULL,
	[Birthdate] [date] NOT NULL,
	[Birthplace] [bigint] NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Id_State] [bigint] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolMenu]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolMenu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_Rol] [nvarchar](450) NOT NULL,
	[Id_Menu] [bigint] NOT NULL,
 CONSTRAINT [PK_Rol_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 24/02/2021 20:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [Externals]) VALUES (N'1', N'Admin', N'Admin', NULL, 0)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [Externals]) VALUES (N'2', N'Proveedor', N'Proveedor', NULL, 1)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [Externals]) VALUES (N'3', N'Supervisor', N'Supervisor', NULL, 0)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'319446b9-c223-4015-bb7b-3a17958ccc29', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'80e865d3-aa9f-4e46-82c0-e1689dd5c1df', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9eec5925-2eba-47cd-a673-e76af3c88521', N'3')
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Id_Department], [Code], [Name], [Id_State]) VALUES (1, 1, N'05001', N'MEDELLÍN', 1)
INSERT [dbo].[City] ([Id], [Id_Department], [Code], [Name], [Id_State]) VALUES (2, 1, N'05002', N'ABEJORRAL', 1)
INSERT [dbo].[City] ([Id], [Id_Department], [Code], [Name], [Id_State]) VALUES (3, 1, N'05004', N'ABRIAQUÍ', 1)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Consecutive_Config] ON 

INSERT [dbo].[Consecutive_Config] ([Id], [Prefix], [Consecutive]) VALUES (1, N'CI', 3)
INSERT [dbo].[Consecutive_Config] ([Id], [Prefix], [Consecutive]) VALUES (2, N'CE', 1)
SET IDENTITY_INSERT [dbo].[Consecutive_Config] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name], [Code], [Id_State]) VALUES (1, N'ANTIOQUIA', N'05', 1)
INSERT [dbo].[Department] ([Id], [Name], [Code], [Id_State]) VALUES (2, N'ATLÁNTICO', N'08', 1)
INSERT [dbo].[Department] ([Id], [Name], [Code], [Id_State]) VALUES (3, N'BOGOTÁ, D.C.', N'11', 1)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Document] ON 

SET IDENTITY_INSERT [dbo].[Document] OFF
SET IDENTITY_INSERT [dbo].[DocumentType] ON 

INSERT [dbo].[DocumentType] ([Id], [Name], [Code]) VALUES (1, N'Correspondencia Interna', N'CI')
INSERT [dbo].[DocumentType] ([Id], [Name], [Code]) VALUES (2, N'Correspondencia Externa', N'CE')
SET IDENTITY_INSERT [dbo].[DocumentType] OFF
SET IDENTITY_INSERT [dbo].[IdentificationType] ON 

INSERT [dbo].[IdentificationType] ([Id], [Name], [Code]) VALUES (1, N'Cedula', N'CC')
INSERT [dbo].[IdentificationType] ([Id], [Name], [Code]) VALUES (2, N'Cedula de extranjeria', N'CE')
INSERT [dbo].[IdentificationType] ([Id], [Name], [Code]) VALUES (3, N'Tarjeta de identidad', N'TI')
SET IDENTITY_INSERT [dbo].[IdentificationType] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Id], [Name], [Area], [Controller], [Actions], [Icons], [OrderMenu], [IdFather]) VALUES (1, N'Documentos', N'Providers', N'Documents', N'Index', N'fas fa-file-upload', 1, NULL)
INSERT [dbo].[Menu] ([Id], [Name], [Area], [Controller], [Actions], [Icons], [OrderMenu], [IdFather]) VALUES (2, N'Correspondencia', N'Reviews', N'Reviews', N'Index', N'fas fa-user', 1, NULL)
INSERT [dbo].[Menu] ([Id], [Name], [Area], [Controller], [Actions], [Icons], [OrderMenu], [IdFather]) VALUES (3, N'Usuarios', N'Admin', N'Users', N'Index', N'fas fa-users', 1, NULL)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [Name], [Second_Name], [Surname], [Second_Surname], [Id_Identification_Type], [Identification], [Phone], [Cellphone], [Registration_Date], [Id_City], [Birthdate], [Birthplace], [Address], [Id_State]) VALUES (6, N'Jair', NULL, N'Guerrero', NULL, 1, N'1130647276', NULL, N'3117298024', CAST(N'2020-12-08T15:22:26.143' AS DateTime), 1006, CAST(N'2020-12-05' AS Date), 1006, N'Calle 23', 1)
INSERT [dbo].[Person] ([Id], [Name], [Second_Name], [Surname], [Second_Surname], [Id_Identification_Type], [Identification], [Phone], [Cellphone], [Registration_Date], [Id_City], [Birthdate], [Birthplace], [Address], [Id_State]) VALUES (7, N'Supervisor', NULL, N'Uno', NULL, 1, N'11302587', NULL, N'3117298025', CAST(N'2021-01-22T03:15:31.827' AS DateTime), 1, CAST(N'1986-06-01' AS Date), 1, N'Av américa', 1)
INSERT [dbo].[Person] ([Id], [Name], [Second_Name], [Surname], [Second_Surname], [Id_Identification_Type], [Identification], [Phone], [Cellphone], [Registration_Date], [Id_City], [Birthdate], [Birthplace], [Address], [Id_State]) VALUES (8, N'admin', NULL, N'Admin', NULL, 1, N'123456789', NULL, N'3117298025', CAST(N'2021-01-22T03:36:20.973' AS DateTime), 1006, CAST(N'1986-06-01' AS Date), 1006, N'Cra 100', 1)
SET IDENTITY_INSERT [dbo].[Person] OFF
SET IDENTITY_INSERT [dbo].[RolMenu] ON 

INSERT [dbo].[RolMenu] ([Id], [Id_Rol], [Id_Menu]) VALUES (1, N'1', 2)
INSERT [dbo].[RolMenu] ([Id], [Id_Rol], [Id_Menu]) VALUES (3, N'1', 3)
INSERT [dbo].[RolMenu] ([Id], [Id_Rol], [Id_Menu]) VALUES (4, N'2', 1)
SET IDENTITY_INSERT [dbo].[RolMenu] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([Id], [Name]) VALUES (1, N'Activo')
INSERT [dbo].[States] ([Id], [Name]) VALUES (2, N'Inactivo')
INSERT [dbo].[States] ([Id], [Name]) VALUES (3, N'Aprobado')
SET IDENTITY_INSERT [dbo].[States] OFF
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Department] FOREIGN KEY([Id_Department])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Department]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_States] FOREIGN KEY([Id_State])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_States]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_States] FOREIGN KEY([Id_State])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_States]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_AspNetUsers] FOREIGN KEY([Id_User])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_AspNetUsers]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_DocumentType] FOREIGN KEY([Id_Doc_Type])
REFERENCES [dbo].[DocumentType] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_DocumentType]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_States] FOREIGN KEY([Id_State])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_States]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_City] FOREIGN KEY([Id_City])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_City]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_IdentificationType] FOREIGN KEY([Id_Identification_Type])
REFERENCES [dbo].[IdentificationType] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_IdentificationType]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_States] FOREIGN KEY([Id_State])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_States]
GO
ALTER TABLE [dbo].[RolMenu]  WITH CHECK ADD  CONSTRAINT [FK_RolMenu_Menu] FOREIGN KEY([Id_Menu])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[RolMenu] CHECK CONSTRAINT [FK_RolMenu_Menu]
GO
ALTER TABLE [dbo].[RolMenu]  WITH CHECK ADD  CONSTRAINT [FK_RolMenu_RolMenu] FOREIGN KEY([Id_Rol])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[RolMenu] CHECK CONSTRAINT [FK_RolMenu_RolMenu]
GO
